<p>
  <strong>Shortened URL:</strong>
  <%= link_to @link.display, @link.display, target: '_blank' %>
</p>

<p>
  <strong>Original URL:</strong>
  <%= link_to @link.original_link, @link.original_link %>
</p>

<p>
  <strong>Admin URL:</strong>
  <%= link_to admin_link_path(@link), admin_link_path(@link) %>
</p>

<%= link_to 'Back', root_path %>
