<p>
  <strong>Shortened URL:</strong>
  <%= link_to @link.display, @link.display, target: '_blank' %>
</p>

<p>
  <strong>Original URL:</strong>
  <%= link_to display_url_of(@link.hash_key), display_url_of(@link.hash_key) %>
</p>

<p>
  <strong>Admin URL:</strong>
  <%= link_to admin_link_url(@link), admin_link_url(@link) %>
</p>

<%= link_to 'Back', root_path %>
